# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Data
data/*.csv, *.txt
!data/insurance_claims.txt   
data/
!data/insurance_claims.csv
logs/
*.log
models/
*.h5
*.pkl
*.joblib
reports/
*.html
*.pdf
figures/